.outer{
	border:1px solid black;
	height: 100px;
	width: 100px;
	overflow: hidden;
	position: relative;
	ul{
		width: 500%;
		height: 100px;
		padding:0;
		margin: 0;
		position: absolute;
		li{
			height: 100px;
			width:100px;
			float: left;
			list-style: none;
			img{
				height: 100px;
				widows: 100px;
			}
		}
	}
}
